p#drop-area {
   border: 0.07em solid #ccc;
   height: 100px;
	margin-top: 30px;
}

ul#file-list {
	list-style: none;	
}

ul#file-list li {
	float: right;
	font-size: 0.6em;
}

ul#file-list li.no-items {
	float: none;
}

p.small {
	font-size: 0.8em;
}
